.love {
  position: absolute;
  background: url(../images/heart.png);
  pointer-events: none;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-size: cover;
  animation: love 10s linear infinite;
}
.beautiful-women {
  background: linear-gradient(
    to right,
    rgb(238, 230, 235) 0%,
    rgb(253, 216, 248) 100%
  );
  overflow-x: hidden;
  padding: 5rem 0;

  & .women-center {
    padding: 2rem;
    & img {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
    & h2 {
      padding: 1rem 0;
    }
    & p {
      animation-delay: 0.5s;
    }
    & .women__ele {
      background: $white;
      border-radius: 20px;

      @include box-shadow(10px 5px 0px 0px rgb(245, 252, 222));
      & p {
        padding: 2rem;
      }
    }
  }

  & .card {
    margin: 1rem 0;
    @include box-shadow(14px 1px 5px 5px rgb(192, 182, 182));
    & img {
      height: 250px;
      object-fit: cover;
    }
  }
}
@keyframes love {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -1000%);
    opacity: 0;
  }
}
